.main .opcoes {
  display: flex;
  gap: 5%;
  justify-content: center;
  width: 100%;
}
.main .opcoes button {
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
}

.main .graficos #sectionCanvas1 {
  width: 95vw;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0 60px 0;
}

.main .graficos #sectionCanvas1 section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .graficos #sectionCanvas1 span {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #101030;
}

.main .graficos #sectionCanvas2 {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.cardSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 30%;
  padding: 20px;
}

.pieTitle {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

#botaoGeral {
  background-color: #507090;
}
#botaoGeral:hover {
  background-color: #2d4053;
}
#botaoRisco {
  background-color: #003050;
}
#botaoRisco:hover {
  background-color: #001725;
}
#botaoAlertas {
  background-color: #19A7A8;
}
#botaoAlertas:hover {
  background-color: #0d5858;
}

.main .selecao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.main .selecao label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.main .selecao label span {
  font-size: 1.2rem;
}
.main .selecao label select {
  cursor: pointer;
  font-size: 1rem;
}

#divResponse {
  gap: 1rem;
}

.main .row {
  flex-direction: row;
  justify-content: space-evenly;
}

.section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.section .opcoes button {
  width: 200px;
  height: 60px;
  color: white;
  font-weight: bold;
}

#lineSection {
  display: flex;
  justify-content: center;
}

.lineTitle {
  font-size: 22px;
  font-weight: bold;
}

#kidInfo {
  text-align: center;
  margin-top: 10px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
}

#alerta {
  position: fixed;
  width: 700px;
  border-radius: 3px;
  background-color: #880022;
  bottom: 10px;
  right: 10px;
  display: none;
  padding: 20px;
  color: white;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.alertaBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.alertaImg {
  width: 150px;
  height: 150px;
}

.alertaSpan {
  width: 100%;
  margin-left: 20px;
  line-height: 30px;
  font-size: 1.2rem;
}

.alertaBox button {
  background-color: transparent;
  width: 10%;
  color: white;
  border: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
}

#alertaSection {
  width: 700px;
  height: 300px;
  border-radius: 3px;
  background-color: #001725;
  bottom: 10px;
  right: 10px;
  display: flex;
  padding: 20px;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 10px;
}

.infoRisk {
  color: #0d5858;
  text-decoration: underline;
}

#divAlertRisk {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  flex-direction: row;
}