* {
  text-align: justify;
}

.main .section p {
  margin: 0 20%;
}

.identidade {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.identidade .idCard {
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001725;
  border-radius: 20px;
  width: 30%;
  color: white;
  padding: 20px;
}

.identidade .idCard:hover {
  transform: scale(105%, 105%);
}

.idCard h2 {
  font-size: 31px;
  color: #eaefea;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.idCard img {
  width: 200px;
  height: 200px;
  margin: 30px 0;
}

.idCard span {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #eaefea;
  color: #001725;
  border-radius: 10px;
}

.members {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 550px;
  justify-content: space-around;
}

.members .card {
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #003050;
  background-color: #f0f5f0;
  border-radius: 10px;
  width: 23%;
  height: 500px;
}

.members .card p {
  text-align: center;
  font-size: 18px;
}

.members .card:hover{
  transform: scale(110%, 110%);
}

.card h2 {
  font-size: 30px;
  background-color: #003050;
  width: 100%;
  color: white;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #003050;
}

.diagrama {
  width: 70%;
  border-radius: 8px;
}

.main .section #descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 60px;
}

#descricao .content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#descricao .content span {
  width: 100%;
  margin-left: 70px;
  font-size: 1.5rem;
}

#descricao .content img {
  width: 300px;
  height: 300px;
}