/*
cores:
  #101030 black, font
  #30a0a0 carousel
  #003050 footer
  #507090 header, card-hover
  #6080a0 card-border
  #70e070 button
  #60d060 button-hover
  #eaefea body-background
  #f0f5f0 card
*/

* {
  box-sizing: border-box; /* o padding e a borda são contados no tamanho definido */
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* altura mínima */
  background-color: #eaefea;
  color: #101030;
} 

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 100%;
  background-color: #001725;
}

.header .logo {
  height: 110px;
  width: 220px;
}

.header .navbar {
  display: flex;
  gap: 3rem; /* espaço fixo entre 2 itens */
  align-items: center;
  list-style-type: none;
  margin-right: 20px;
}

.header .navbar * {
  font-size: 1.3rem;
  font-weight: bold;
  color: #eaefea;
}

.header .navbar a {
  text-decoration: none;
}

.header .navbar a:hover {
  text-decoration: underline;
  color: #b2fafa;
}

.header .navbar button {
  transition: color 0.2s; /* cria uma transição para quando determinada propriedade mude, durando determinado tempo */
  cursor: pointer; /* altera o estilo do cursor */
  border: none;
  background-color: transparent;
}

.header .navbar button:hover {
  color: #e07070;
}

.header .navbar .paginaAtual {
  font-weight: bold;
  text-decoration: underline;
  color: #20d8d8
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  width: 94%;
}

.main hr {
  margin: 3% 0;
  border: 1px solid #101030;
  width: 90%;
}

.main button {
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  font-family: monospace;
  font-weight: bold;
  color: #fff;
}

.main button:hover {
  /* estilização somente para quando o mouse estiver em cima do elemento */
  transform: scale(110%, 110%); /* altera o tamanho com base no tamanho atual */
}

.main .error {
  font-weight: bold;
  color: red;
}

.main .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main .section h1 {
  margin-bottom: 2%;
  font-size: 45px;
  text-align: center;
}

.main .section h2 {
  margin-bottom: 2%;
  font-size: 35px; 
}

.main .form {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 750px;
  border-radius: 8px;
  padding: 2rem;
  border: 2px solid #101030;
  background-color: #f0f5f0;
}

.main .form .inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.main .form .inputs label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  border-radius: 5px;
}
.main .form .inputs span {
  font-weight: bold;
  color: #101030;
  text-align: center;
}
.main .form .inputs input {
  border-radius: 5px;
  padding: 0.5rem;
  width: 31rem;
  color: #101030;
  height: 40px;
}
.main select {
  border-radius: 5px;
  border: 2px solid #101030;
  padding: 0.5rem;
  width: 31rem;
  height: 40px;
  font-weight: bold;
  color: #101030;
}
.main .form button {
  font-weight: bold;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  padding: 1%;
  width: 100%;
  background-color: #001725;
  color: #eaefea;
  line-height: 26px;
  text-align: center;
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.footer div ul {
  list-style-type: none;
  margin-top: 5%;
}
.footer .contact .logo {
  height: 10rem;
}

.linkRedirecionar{
  width: 93vw;
  text-align: center;
  margin-bottom: 50px;
}

.linkRedirecionar a{
  color: #2d4053;
  font-weight: bold;
}

.enviado {
  background-color: #b8feb8;
  padding: 3%;
  color: #2ca52c;
}

.main .form .inputs .campo_obrigatorio {
  color: #19A7A8;
}