.titulo{
    margin-top: 30px;
}

input{
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
}


.main .form {
    display: flex;
    justify-content: center;
}

.main .form button {
    background-color: #0d5858;
    width: auto;
    margin-top: 20px;
    padding: 10px 20px;
}

.main .form button:hover {
    background-color: #19A7A8;
}

.form a {
    color: #2d4053;
    font-weight: bold;
}

#div_mensagem {
    color: #001725;
    text-align: center;
}

.describe {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}