.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  width: 100%;
}

.section h1 {
  margin-top: 30px;
}

.main .leftDiv {
  width: 45%;
  height: 1100px;
  background-color: #0d1c2b;
  justify-content: space-around;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main .cadastros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 73vw;
  justify-content: center;
  background-image: url(Logo_SafeSleep.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main .cadastros .form {
  margin: 30px 0;
  backdrop-filter: blur(7px) opacity(85%);
}

.form button {
  align-self: center;
  background-color: #198f8f;
  width: 200px;
}

.form button:hover{
  background-color: #19A7A8;
}

#form1 {
  display: flex;
}

#form2 {
  display: none;
}

#form3 {
  display: none;
}

#form4 {
  display: none;
}

#form5 {
  display: none;
}


.leftLogo {
  width: 250px;
  height: 250px;
}

.topics {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2rem;
  font-size: 25px;
}

.topics button {
  width: 85%;
  height: 50px;
  background-color: #2d4053;
  font-size: 25px;
}

#btn1 {
  background-color: #19A7A8;
}

.erro {
  font-weight: bold;
  color: red;
  text-align: center;
}

#div_edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cadastros .botoes {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cadastros .botoes button {
  box-shadow: 5px 5px 10px #0d1c2b;
}

.bebe .form .inputs label input {
  width: 31rem;
}