.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
  background-color: #0d1c2b;
  background-image: url('../images/dot.png');
  border-bottom: 25px #001725 solid;
}

.imgContainer span {
  color: white; 
  background-color: #0d1c2b;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  padding: 45px;
}

.main .main h1 {
  font-size: 2.5rem;
}

.main .section .logo {
  width: 23rem;
}

.main .introduction {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #101030;
}

.main .introduction p {
  width: 35%;
  font-size: 1.5rem;
}

.main .introduction img {
  border-radius: 10px;
  border: 1px #101030 solid;
  width: 40%;
}

.main .advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-evenly;
  width: 100%;
}

.main .advantages .card {
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 8px #eaefea dashed;
  padding: 10px;
  padding-top: 0;
  width: 25%;
  background-color: #0d1c2b;
  color: white;
}

.main .advantages .card h2 {
  padding: 20px 0;
  background-color: #0d1c2b;
  font-weight: bold;
  font-size: 1.8rem;
  width: 80%;
  color: white;
  border-bottom: 7px white dashed;
  text-align: center;
}

.main .advantages .card img {
  margin: 10% 0;
  width: 50%;
}

.main .advantages .card:hover {
  transform: scale(110%, 110%);
}

.main .advantages span {
  width: 85%;
  text-align: center;
  font-size: 1.5rem;
}

.logoSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-top: 20px dashed #19A7A8;
  border-bottom: 20px dashed #19A7A8;
  margin-bottom: 80px;
  padding: 20px 0;
}