.main .form {
    display: flex;
    justify-content: center;
}

.main .form button {
    background-color: #0d5858;
    width: 200px;
    margin-top: 20px;
}

.main .form button:hover {
    background-color: #19A7A8;
}

.form a {
    color: #2d4053;
    font-weight: bold;
}

#div_mensagem {
    color: rgb(201, 38, 38);
    text-align: center;
}