* {
  box-sizing: border-box; /* o padding e a borda são contados no tamanho definido */
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* altura mínima */
  background-color: #eaefea;
  color: #101030;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  width: 100%;
  background-color: #507090;
}
.header .logo {
  height: 5rem;
}
.header .navbar {
  display: flex;
  gap: 2rem; /* espaço fixo entre 2 itens */
  align-items: center;
  list-style-type: none;
}
.header .navbar * {
  font-size: 1.2rem;
  font-weight: bold;
  color: #eaefea;
}
.header .navbar a {
  text-decoration: none;
}
.header .navbar a:hover {
  text-decoration: underline;
}
.header .navbar button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.header .navbar .paginaAtual {
  font-weight: 100;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main hr {
  border: 1px solid #101030;
  width: 90%;
}
.main button {
  transition: transform 0.2s, background-color 0.2s; /* cria uma transição para quando determinada propriedade mude, durando determinado tempo */
  cursor: pointer;
  border: none;
  font-family: monospace;
  font-weight: bold;
  color: #101030;
}
.main button:hover { /* estilização somente para quando o mouse estiver em cima do elemento */
  transform: scale(110%, 110%); /* altera o tamanho com base no tamanho atual */
}

.main .section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  width: 100%;
}
.main .section h1 {
  margin-bottom: 2%;
}
.main .section h2 {
  margin-bottom: 2%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  padding: 1%;
  width: 100%;
  background-color: #003050;
  color: #eaefea;
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.footer div ul {
  list-style-type: none;
  margin-top: 5%;
}
.footer .contact .logo {
  height: 10rem;
}
