body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}
 .header{
    border-bottom: 3px solid #32b9cd;
    background-color: #b2dafa;
}
 .container{
     display: flex;
     width: 80%;
     margin: auto;        
}
.header .container{
    justify-content: space-between;
    
}
 .titulo{
      color: #6a9eda;
}
 .navbar{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #6a9eda;
    align-items: center;
    font-weight: bold;
 }
 .h1{
    top: 10%;
    left: 25%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
 }
  .caixa{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 800px;
    height: 40%;
    background-color: #b2dafa;
    border: 5px solid black;
    border-radius: 30px;
}
  .span{
    margin-left: 10%;
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif
}
 .botao{
    border-radius: 10px;
    margin-left: 40%;
    margin-top: 5%;
    font-size: medium;
    font-weight: bold;
}
 .mensagem{
    margin-left: 37%;
    margin-top: 5%;
    align-items: center;
    font-weight: bold;
    
 }